<div>
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <br>
    <%= link_to 'Graph', users_path %>
    <form>
		  No. of posts pulled:<br>
		  <input type="text" id="post_field" readonly>
		</form>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
